<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理界面</title>
    <!--1、引入BootStrap的CSS样式-->
    <link rel="stylesheet" href="./WEB-INF/css/bootstrap.css">
    <!--2、引入VUE-->
    <script src="./WEB-INF/js/vue.js"></script>
    <!--3、引入Axios-->
    <script src="./WEB-INF/js/axios.min.js"></script>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">用户管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎！xxx</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="app">
    <!--中心布局-->
    <div class="container-fluid">

        <!--搜索框-->
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="searchName">姓名：</label>
                        <input type="text" class="form-control" id="searchName">
                    </div>
                    <div class="form-group">
                        <label for="searchEmail">邮箱：</label>
                        <input type="email" class="form-control" id="searchEmail">
                    </div>
                    <button type="submit" class="btn btn-info">搜索</button>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <!--用户信息展示-->
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>密码</th>
                        <th>电子邮箱</th>
                        <th>性别</th>
                        <th>操作</th>
                    </tr>
                    <tbody>
                    <tr v-for="user,index in users" :key="user.id">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.pwd }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.sex }}</td>
                        <td>
                            <button class="btn btn-danger">删除</button>&nbsp;&nbsp;<button class="btn btn-primary">修改
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="name">姓名:</label>
                        <input type="text" class="form-control" id="name" v-model="user.name" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" v-model="user.pwd" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail:</label>
                        <input type="email" class="form-control" id="email" v-model="user.email" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <label for="sex">性别:</label>
                        <input type="text" class="form-control" id="sex" v-model="user.sex" placeholder="请输入性别">
                    </div>

                    <button type="button" class="btn btn-default" @click="saveUser">提交</button>
                    <button type="reset" class="btn btn-danger">重置</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--2、引入VUE-->
<script src="./WEB-INF/js/vue.js"></script>
<!--3、引入Axios-->
<script src="./WEB-INF/js/axios.min.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
            users: [
                //{id:"12",name:"denyang",pwd:"123456",email:"denyang@163.com",sex:"男"},
                //{id:"13",name:"jialong",pwd:"123456",email:"jialong@163.com",sex:"男"}
            ],//数据赋值应该来源于后端接口，在页面加载完成之前完成赋值
            user:{},//用来完成用户对象的双向绑定
        },
        methods: {
            //保存用户信息
            saveUser(){
                let _this = this;
                axios.post('http://localhost:8989/myweb/user/adduser.do',{
                    name:this.user.name,
                    pwd:this.user.pwd,
                    email:this.user.email,
                    sex:this.user.sex
                }).then(function (response) {
                    if (response.data === 'successes'){
                        window.alert("添加用户成功！");
                        //更新页面
                        _this.findAll();
                        //清空上一次保存的用户信息
                    _this.user = {};
                    }else
                        window.alert("添加用户失败！");
                }).catch(function (err) {
                    console.log(err);
                })
            },
            //查询所有用户信息
            findAll(){
                let _this = this;
                //发送请求查询所有用户信息
                axios.get("http://localhost:8989/myweb/user/finduser.do").then(function (response){
                    _this.users = response.data;
                }).catch(function (err){
                    console.log(err);
                });
            }
        },
        //生命周期相关函数
        created(){
            //发送请求查询所有用户信息
           this.findAll();
        }
    })
</script>

</body>
</html>